include modules/_header
include modules/_footer

extends layouts/_default

block vars
  - var pageTitle = 'Music';
  - var bodyClass = 'music';

block content
  +header(class="bg-header transparent-dark", data-pages-header="autoresize", data-pages-resize-class="light-solid")

  section.hero.bg-white.text-primary-darker
    .container-xs-height.full-height
      .col-xs-height.col-middle.text-center
        .col-sm-12
          h1.inner
            | Discover the 
            b music

  section.filter.bg-primary-darker
    .container.p-t-80.p-b-80.text-white.text-center
      .row
        .col-sm-4
          h4.block-title.text-primary-light
            | Sort
          .sort-button-group
            button.btn(data-sort-value="title") Title
            button.btn.is-checked(data-sort-value="released") Released
        .col-sm-8.sm-p-t-40
          h4.block-title.text-primary-light
            | Filter
          .filter-button-group
            button.btn(data-filter-value="*") All
            button.btn(data-filter-value=".tag-produced") Produced
            button.btn(data-filter-value=".tag-studio-album") Studio Albums
            button.btn(data-filter-value=".tag-single") Singles
            button.btn(data-filter-value=".tag-zikir-salawat") Zikir &amp; Salawat

  section.bg-primary-darker
    .music-isotope.text-white
      .grid-sizer
      
      each item in music
        .grid(class=tagClasess(item.labels), data-released=item.released)
          if item.links
            .links
              .inner
                if item.links.cdnasyid
                  a.btn.btn-rounded(href=item.links.cdnasyid, target="_blank") CDNasyid
                if item.links.itunes
                  a.btn.btn-rounded(href=item.links.itunes, target="_blank") iTunes
                if item.links.youtube
                  a.btn.btn-rounded(href=item.links.youtube, target="_blank") Youtube
          .info
            h2.title.no-margin
              | !{item.title}
            h4.released.hint-text.m-t-5.m-b-0
              = moment(item.released).format("MMMM YYYY")
            .labels.m-t-10
              each label in item.labels
                span.label= label
          .ar-1-1
          .bg
          img(src="/assets/images/music/#{item.img}", alt="")

  +footer
